header{
    height: 5%;
}
.topnav{
    position: fixed;
    top: 0;
    width: 100%;
    height: max-content;
    text-align: center;
    background-color: #17252A;
    overflow: hidden;
}

.topnav ul li {
    display: inline;
    margin: auto;
    padding: 15px;
}

.topnav a {
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

  /* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

.spacer{
    margin-bottom: 110px;
    visibility: hidden; 
}

footer {
    position: fixed;
    padding-top: 20px;
    padding-bottom: 20px;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #17252A;

    color: white;
    text-align: center;
}

.content{
    margin-top: 100px;
}

.container{ 
    display: flex; 
    /* margin-left: 19%; */
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.center{
    display: block;
    text-align: center;
    margin-left:auto; 
    margin-right:auto; 
}

/* #myDiv, #wybraneDiv{
    border:1px solid black;
} */

.proponujSpizarniaDiv{
    background-color: #FFFFFF;
    width: 400px;
    height: 150px;
    margin-top: 7em;
    margin-left: auto;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
    text-align: center;
}

.proponujWybraneDiv{
    margin-right: auto;
}

#wyborSkladnikow{
    margin-top: 1em;
}

#wybraneDiv{
    background-color: #FFFFFF;
    width: 500px;
    height: 400px;
    /* margin-top: 7em; */
    /* margin-left: auto; */
    margin-top: 2em;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
    text-align: center;
}


/* tabele wynikowe */


.proponowaneTab {
    width: 436px; /*140px * 5 column + 16px scrollbar width */
    border-spacing: 0;
    margin-right: auto;
    border-collapse: collapse;
    /* border: 1px solid black; */
    font-size: 0.9em;
    font-family: sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    /* width: max-content; */
    margin-right: 5px;
}

#skladnikiSpizarnia{
    width: 156px;
    margin-left: 10em;
    margin-right: 50px;
}

#skladniki{
    width: 436px;
    margin-top: 2em;
    margin-left: 2em;
}

#wybraneTable{
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    width: 156px;
}

#wybraneTable tbody{
    height: 180px;
}



.proponowaneTab tbody, .proponowaneTab thead tr { display: block; }

.proponowaneTab tbody {
    height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
}

.proponowaneTab tbody td, .proponowaneTab thead th {
    width: 140px;
    /* width: 180px; */
    padding: 12px 15px;
    text-align: center;


}

.proponowaneTab thead th:last-child {
    width: 156px; /*140px + 16px scrollbar width*/
    /* width: 196px; */
}

.proponowaneTab tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.proponowaneTab tr th{
    background-color: #009879;
    color: #ffffff;
    text-align: left;
    padding: 12px 15px;
    text-align: center;
} 
